{% include '_header_entry.twig' %}

<div class="container content">
    <div id="item_tags" class="tag_holder">
        {# {{dump(record)}} #}
    {% for link, tname in record.taxonomy.tags %}
        <span class="tag"><a href="{{ link }}">{{ tname }}</a></span>
    {% endfor %}
    {# {% include '_recordfooter.twig' with {'record': record} %} #}
    </div>
    <div class="row">
        <h1>{{ record.title}}</h1>
        {% set recdate = record.datepublish|localdate("%A %B %e, %Y") %}
        <h5 class="subh">{{ __('Written by <em>%name%</em> on %date%',{ '%name%': record.user.displayname, '%date%': recdate }) }}</h5>
        <div class="clear"></div>
        <br>
        <div>
            {{ record.teaser }}
            {{ record.body }}
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="subh">Continue reading</h5>
                <p class="meta">
                {% set previous = record.previous('id') %}
                {% if previous %}
                    <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
                {% endif %}
                -
                {% set next = record.next('id') %}
                {% if next %}
                    <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
                {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

{# deal with this section later #}
<div class="" style="display: none">

<div class="clear"></div>
<br><br><br><br><br><br><br><br><br>

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    {# <div class="large-8 columns"> #}

        <article>

            <h2>{{ record.title }}</h2>

            {% if record.image!="" %}
                <div class="large-4 columns imageholder">
                    <a href="{{ image(record.image) }}">
                        <img src="{{ thumbnail(record.image, 400, 260) }}">
                    </a>
                </div>
            {% endif %}

            {# display something introduction-like.. #}
            {{ record.teaser }}

            {# if the entry has a video, display it. #}
            {% if record.video is not empty %}
                <div class="clearfix"></div>
                {{ record.video.responsive }}
            {% endif %}

            {{ record.body }}

            {% include '_recordfooter.twig' with {'record': record} %}

            {% if Disqus is defined %}
                {# Show the Disqus comment box, if the Disqus extension is installed .. #}
                <h4>Leave a comment</h4>
                {{ Disqus.disqus() }}
                <hr>
            {% elseif FacebookComments is defined %}
                {# Show the Facebook comment box, if Facebookcomments extension is installed .. #}
                <h4>Leave a comment</h4>
                {{ FacebookComments.facebookComments() }}
                <hr>
            {% endif %}

            {# <p class="meta">
                {% set previous = record.previous('id') %}
                {% if previous %}
                    <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
                {% endif %}
                -
                {% set next = record.next('id') %}
                {% if next %}
                    <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
                {% endif %}
            </p> #}

        </article>


    {# </div> #}

    <!-- End Main Content -->

    {# {% include '_aside.twig' %} #}

<!-- End Main Content and Sidebar -->
</div>




{% include '_footer.twig' %}
